@import "../themes/main-theme.scss";

.select_input {
    background-color: transparent;
    border: 0;
    width: 180px;

    option {
        color: black;
        outline: none;
        border: none;
        border-radius: 0;
    }
}

.gradient_border {
    width: 180px;
    height: 2px;
    background: white;
}
